<div class="panel panel-default">
  <div class="panel-heading"> Review Form </div>
  <div class="panel-body">
    <form id="reviewForm" >
      <div class="form-group">
        <label>stars</label>
        <input class="form-control" [(ngModel)]="review.stars" [ngModelOptions]="{standalone:true}" />
      </div>
      <div class="form-group">
        <label>author</label>
        <input class="form-control" [(ngModel)]="review.author" [ngModelOptions]="{standalone:true}" />
      </div>
      <div class="form-group">
        <label>commnet</label>
        <textarea class="form-control" [(ngModel)]="review.comment" [ngModelOptions]="{standalone:true}"></textarea>
      </div>
      <button (click)="handleSubmit($event)" class="btn btn-primary">submit</button>
    </form>
  </div>
</div>
